In [1]:
print ("hello\nworld")

hello
world

In [3]:
print(25//5)

5

In [4]:
name='vineeta'
print(name[0:2])

vi

In [5]:
print('1' + '2')

12

In [10]:
ratings=(2,6,1,9,7)
ratings1=ratings
ratings=ratings + (4,5)

#sortedratings=sorted(ratings)
print(ratings1)
print(ratings)

(2, 6, 1, 9, 7)
(2, 6, 1, 9, 7, 4, 5)

In [14]:
NT=(1,2,('vineeta','agarwal'),(3,4),('disco',(1,2)))
NT[4][1][1]

2

In [1]:
A=(1,2,3,4,5)
A[-1]

5

In [2]:
B=["a","b","c"]
B[1:]

['b', 'c']

In [22]:
a = [1,2,3,4,5]
b = [6,7,8,9]
a.extend(b)

In [23]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
X=10
X=X+10
X=X-5
print(X)

15

In [26]:
x, y = 20, 60  
y, x, y-x, y-10, x+10  
print (x, y)

20 60